<ul class="nav nav-tabs" id="myTabs">
  <li class="nav-item">
    <a class="nav-link" id="doctorlist" data-toggle="tab" href="doctorlistfront"
      >Doctors List</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="fapprove" data-toggle="tab" href="fapprove"
      >Appprove Patient</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" id="fbook" data-toggle="tab" href="fbook"
      >Book an Appointment</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" id="viewall" data-toggle="tab" href="viewall"
      >Patient List</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="Profile"
      data-toggle="tab"
      href="frontofficeprofile"
      >Profile</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" id="logoutTab" href="">Logout</a>
  </li>
</ul>
  <!-- Front Office Profile -->
<div *ngIf="userDetails" class="front-office-container">
  <h2 class="front-office-heading">Front Office Profile</h2>
  <div class="front-office-details">
    <div class="form-group">
      <label for="name">Name:</label>
      <p>{{ userDetails.name }}</p>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <p>{{ userDetails.email }}</p>
    </div>
    <!-- Add other front office user details as needed -->
  </div>
</div>

<!-- Error message -->
<div *ngIf="errorMessage" class="error-message">
  <p>{{ errorMessage }}</p>
</div>

  