<body>
  <ul class="nav nav-tabs" id="myTabs">
    <li class="nav-item">
      <a class="nav-link" id="doctorlist" data-toggle="tab" href="doctorlistfront"
        >Doctors List</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="fapprove" data-toggle="tab" href="fapprove"
        >Appprove Patient</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" id="fbook" data-toggle="tab" href="fbook"
        >Book an Appointment</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" id="viewall" data-toggle="tab" href="viewall"
        >Patient List</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="Profile"
        data-toggle="tab"
        href="frontofficeprofile"
        >Profile</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" id="logoutTab" href="">Logout</a>
    </li>
  </ul>
  <div class="table-container">
    <table class="medicine-table">
      <thead>
        <tr>
          <th>appointmentId</th>
          <th>doctorName</th>
          <th>patientName</th>
          <th>description</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of datas">
          <td>{{ row.appointmentId }}</td>
          <td>{{ row.doctorName }}</td>
          <td>{{ row.patientName }}</td>
          <td>{{ row.description }}</td>
          <td>
            <button *ngIf="!row.status" (click)="change(row)">Approve</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
