
*{
    font-weight: bold;
}
.login-container {
    background-image: url('https://img.freepik.com/free-photo/young-handsome-physician-medical-robe-with-stethoscope_1303-17818.jpg?w=996&t=st=1703741286~exp=1703741886~hmac=722cf454194381d0c2b606e476292bb3e3ece037c486089425c6c7bd4a7d8354');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

  }

  .container {
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  
  }

  h1{
    font-weight: bold;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    margin-bottom: 10%;
 
  }
  
  label {
    margin-bottom: 5px;
    text-align: left;
    font-size:medium;
  }
  
  
  button {
    background-color:rgb(66, 66, 226);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(66, 66, 226);
  }
 a{
    color:blue;
 }
 .mt-5, .my-5 {
  margin-top: rem!important;
}
.footer
{
  overflow: hidden;
  position: sticky;
  top: 100%;
  background-color:#000;
  padding: 20px 10px;
}
p{
    text-align: left;
    font-size: 15px;
}

i 
{
  padding: 0px 10px;
}
