/* Global styles or styles specific to home component */
.home-container {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    padding-top: 50px;
   
  }
  .main {
    background-image: url('https://wallpaperaccess.com/full/1282794.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    height: 100vh; /* Adjust the height as needed */
    /* Additional styles for positioning or other properties */
  }
  
  
  header {
    margin-bottom: 50px;
  }
  
  header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    
  }
  
  /* Features section styles */
  .features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .feature-box {
    width: 300px;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    backdrop-filter: blur(30px);
    
  }
  
  .feature-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .feature-box h2 {
    margin-bottom: 10px;
  }
  
  .feature-box p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  
  /* Add more specific styles or hover effects as needed */
  