<ul class="nav nav-tabs" id="myTabs">
    <li class="nav-item">
      <a class="nav-link" id="pharmamedicine" data-toggle="tab" href="pharmamedicine">Medicine</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="pharmaprofile" data-toggle="tab" href="pharmacistprofile">Profile</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" id="logoutLink" href="#">Logout</a>
    </li>
  </ul>
  
  <div *ngIf="pharmacistDetails" class="profile-container">
    <h2 style="text-align: center;">Pharmacist Profile</h2>
    <div class="profile-details">
      <div class="form-group">
        <label for="name">Name:</label>
        <p>{{ pharmacistDetails.name }}</p>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <p>{{ pharmacistDetails.email }}</p>
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <p>{{ pharmacistDetails.age }}</p>
      </div>
      <div class="form-group">
        <label for="contact">Contact:</label>
        <p>{{ pharmacistDetails.contact }}</p>
      </div>
      
      <!-- Add other pharmacist details as needed -->
    </div>
  </div>
  
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
  