<ul class="nav nav-tabs" id="myTabs">
  <li class="nav-item">
      <a class="nav-link " id="docappointment" data-toggle="tab" href="docappointment">Appointment</a>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" id="docmedicine" data-toggle="tab" href="docmedicine">Medicine</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="docappointment" data-toggle="tab" href="doctorprofile">Profile</a>
</li>
  <li class="nav-item">
      <a class="nav-link" id="" href="">Logout</a>
  </li>
</ul>


<div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
  <div *ngIf="!errorMessage">
    <h2>Doctor Details</h2>
    <div *ngIf="doctorDetails">
      <p>Name: {{ doctorDetails.name }}</p>
      <p>Email: {{ doctorDetails.email }}</p>
      <!-- Display other doctor details as needed -->
    </div>
  </div>
  
